# CMake / build
build*/
build-win/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
compile_commands.json
install_manifest.txt

# packaging outputs
dist/
dmgroot/
*.dmg
*.zip

# macOS
.DS_Store
